@page
@model DemoProject.Web.Pages.Admin.Departments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tbl_Departments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tbl_Departments.Department_Name" class="control-label"></label>
                <input asp-for="Tbl_Departments.Department_Name" class="form-control" />
                <span asp-validation-for="Tbl_Departments.Department_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tbl_Departments.Description_Long" class="control-label"></label>
                <input asp-for="Tbl_Departments.Description_Long" class="form-control" />
                <span asp-validation-for="Tbl_Departments.Description_Long" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tbl_Departments.Description_Short" class="control-label"></label>
                <input asp-for="Tbl_Departments.Description_Short" class="form-control" />
                <span asp-validation-for="Tbl_Departments.Description_Short" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Tbl_Departments.IsEnabled" /> @Html.DisplayNameFor(model => model.Tbl_Departments.IsEnabled)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
