@page
@model DemoProject.Web.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Admin - Index</h1>

<a href="/admin/products/index">Products</a>

<a href="/admin/departments/index">Departments</a>


<a href="/admin/category/index">Categories</a>