<div class="tab">
    <button class="tablinks" onclick="openCity(event, 'London')">Dashboard</button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">Messages</button>
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">eWallet</button>
</div>

<!-- Tab content -->
<div id="London" style="display:block;" class="tabcontent">
    <h3>London</h3>
    <p>London is the capital city of England.</p>
</div>

<div id="Paris" style="display:none;" class="tabcontent">
    <h3>Paris</h3>
    <p>Paris is the capital of France.</p>
</div>

<div id="Tokyo" style="display:none;" class="tabcontent">
    <h3>Tokyo</h3>
    <p>Tokyo is the capital of Japan.</p>
</div>