 
                    <div class=" ">
                        <div class="" id="Navigation_Accounts">

                            <a class="font-weight-bold General_Title_Header " href="/">

                            </a>

                            <div class="mainlist">
                                <br /><div class="text-center">
                                    <img src="~/images/icons/Account.png" />   My Account
                                    <a href="/Welcome">

                                    </a><br /> <hr class="horizontal-rule" width="80%" /><br />
                                </div>
                                <ul>
                                    <li><a href="/Feed">News Feed</a></li>


                                    <li><a href="/Accounts">Sell online for free</a></li>
                                    <li><a href="/Accounts">Dashboard</a></li>
                                    <li><a href="/Accounts/Address_Manager">Address Manager</a></li>
                                    <li><a href="/Users/Personals">Account Details</a></li>
                                    <li><a href="Welcome">My Rewards</a></li>



                                </ul>
                                <br />
                                Design Studio <br />

                                <ul>
                                    <li><a href="/Accounts">Organizer</a></li>
                                    <li><a href="Accounts/Rewards">Friends & Family</a></li>
                                    <li><a href="/Upload">Upload</a></li>
                                    <li><a href="/Accounts">Photos</a></li>
                                    <li><a href="/Accounts">Design Studio</a></li>
                                    <li><a href="/Accounts">My 1newday</a></li>
                                </ul>
                                <br />
                                Money Talk <br />

                                <ul>
                                    <li><a href="/eWallet">eWallet</a></li>
                                    <li><a href="/eWallet">Purchase History</a></li>
                                    <li><a href="/eWallet">Security</a></li>
                                </ul>
                                <br />
                                <img src="~/images/icons/Account.png" />   Socials <br />


                                <ul>
                                    <li><a href="/Accounts">Create your team</a></li>
                                    <li><a href="/Accounts">Organizer</a></li>
                                    <li><a href="Accounts/Rewards">Friends & Family</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
            