<div class="row col-md-12">
    <div class="row col-md-12">
        With your online address manager, you can connect to your social media accounts <br />
        - Set birthday reminders<br />
        - Set Alarms<br />
        - Send presents to a virtual or physical address<br />
    </div>

    <div class="col-md-4 btn">
        <a href="/Address_Manager/Addresses">
            My Addresses<br />      <img src="~/images/icons/Address_Home.png" /><br />
            Billing, Shipping and Home addresses
        </a>
    </div>
    <div class="col-md-4 btn">
        <a href="/Address_Manager/Add">
            My Contacts<br />

            <img src="~/images/icons/Address_Virtual.png" /><br />

        </a>
        <a href="/Address_Manager/Email">Email Contacts </a> or      <a href="/Address_Manager/Mobile">Mobile Contacts</a>
    </div>

    <div class="col-md-4 btn">
        Organizer<br />
        <img src="~/images/icons/Organizer.png" />
    </div>


</div>