
 
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow  X_border_thin">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse2" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    Account Menu
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse2 collapse d-sm-inline-flex flex-sm-row-reverse ">
                    <div class=" ">
                        <div class="" id="Navigation_Accounts">

                            <a class="font-weight-bold General_Title_Header " href="/">

                            </a>

                            <div class="mainlist">
                                <br /><div class="text-center">
                                    <img src="~/images/icons/Account.png" />   
                                    <a href="/Accounts">
                                        My Account
                                    </a><br /> <hr class="horizontal-rule" width="80%" /><br />
                                </div>
                                      <ul>
                                          <li><a href="/Feed">News Feed</a></li>


                                          <li><a href="/Accounts">Sell online for free</a></li>
                                          <li><a href="/Accounts">Dashboard</a></li>
                                          <li><a href="/Accounts/Address_Manager">Address Manager</a></li>
                                          <li><a href="/Users/Personals">Portfolio</a></li>
                                          <li><a href="Welcome">My Rewards</a></li>
                                          <li><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Settings</a>
                                          </li>


                                      </ul>
                                <br />
                                <img src="~/images/icons/customize.png" />  Design Studio <br />

                                <ul>
                                    <li><a href="GetStarted/custom_templates">Templates (0)</a></li>
                                    <li><a href="Accounts/Rewards">Friends & Family</a></li>
                                    <li><a href="/Upload">Upload</a></li>
                                    <li><a href="/Accounts">Photos</a></li>
                                    <li><a href="/Accounts">Design Studio</a></li>
                                    <li><a href="/Accounts">My 1newday</a></li>
                                </ul>
                                <br />
                                <br /><div class="text-center">
                                    <img src="~/images/icons/money_talk.png" />Money
                                    <a href="/Money">

                                    </a><br /> <hr class="horizontal-rule" width="80%" /><br />
                                </div>

                                <ul>
                                    <li><a href="/Money/eWallet">eWallet</a></li>
                                    <li><a href="/Money/History">Purchase History</a></li>
                                    <li><a href="/Money/Payments">Payments</a></li>
                                </ul>
                                <br />
                                <img src="~/images/icons/Account.png" />   Socials <br />


                                <ul>
                                    <li><a href="/Accounts">Create your team</a></li>
                                    <li><a href="/Accounts">Organizer</a></li>
                                    <li><a href="Accounts/Rewards">Friends & Family</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
       