<div id="nested_1" class="tabcontent" style="display:block">



    <img src="~/images/icons/Account.png" />  You have :
    <a href="/Upload">Photos Uploaded (0)</a> <br /> <a href="/Accounts/Portfolio">Items in Portforlio (0)</a>
    <hr />



</div>